.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    opacity: 0;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px;
    }
    visibility: hidden;
    z-index: var(--z-index-popup);
    transition: opacity var(--transition-duration-base) var(--transition-function-base), visibility var(--transition-duration-base) var(--transition-function-base) ;
    &_show{
        opacity: 1;
        visibility: visible;
    }
}
.popup__wrapper {
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__body {
    filter: drop-shadow(var(--drop-shadow-base));
    background-color: #eee;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    .popup_show  & {
    }
}
