// сниппет ci

.custom-input {
    --size: 30px;
    position: relative;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        margin: 0;
        cursor: pointer;
        &:disabled{
            cursor: default;
        }
    }

    &__body {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        border: 1px solid gray;
        transition: background-color var(--transition-duration-base) var(--transition-function-base),
        border-color var(--transition-duration-base) var(--transition-function-base);
        font-size: 0px;
        input:focus ~ & {
            outline: 1px solid var(--color-0);
        }
        input:checked ~ &{
            background-color: cornflowerblue;
        }
        input:disabled ~ &{
            opacity: .5;
        }
        input[type=radio] ~ & {
            border-radius: 50%;
        }
        input[type=checkbox] ~ & {
            border-radius: 0%;
        }
    }
}