.header {
	//background-color: gray;
	min-height: var(--header-height);
	width: 100vw;
	position: sticky;
	top: 0;
	left: 0;
	z-index: var(--z-index-header);
	&__container {

	}

	&__body {

	}

	&__menu {

	}

}
